@* source https://stackoverflow.com/questions/20799658/how-can-i-pass-parameters-to-a-partial-view-in-mvc-4 *@
@{
    var viewModel = ViewData["ViewModel"] as ViewModel;
}


@if (viewModel.Cheeps != null && viewModel.Cheeps.Any() && viewModel.CheepInfos?.Count() == 0)
{

    <ul class="flex flex-col gap-5">
    @foreach (var cheep in viewModel.Cheeps)
        {
            <div
                class="border-2 border-black resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex flex-col gap-4">
                <li>

                    <p class="text-black text-sm font-semibold hover:underline">
                        <img class="inline-block h-10 w-10 rounded-full" src="@cheep.AuthorImage" alt="" />
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        <span
                            class="text-sm leading-5 font-medium text-black-400 group-hover:text-black-300 transition ease-in-out duration-150">
                            @cheep.TimeStamp
                        </span>
                    </p>
                    <p class="text-blue-400 text-sm font-medium text-clip overflow-hidden">
                        <small class="text-blue-400 text-sm font-medium text-clip overflow-hidden">@cheep.Message</small </p>
                </li>
            </div>
        }
    </ul>
}
else if (viewModel.CheepInfos != null && viewModel.CheepInfos.Any())
{
    <ul class="flex flex-col gap-5">
    @foreach (var cheepInfo in viewModel.CheepInfos)
        {
            <li
                class="border-2 border-black resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex flex-col gap-4">

                <div class="flex justify-between items-center">
                    <!-- container for profile picture, name, date -->
                    <div class="flex items-center">
                        <img style="margin-right: 8px;" class="inline-block h-10 w-10 rounded-full mr-2"
                            src="@cheepInfo.Cheep.AuthorImage" alt="" />
                        <strong style="margin-right: 8px;">
                            <a href="/@cheepInfo.Cheep.AuthorName">@cheepInfo.Cheep.AuthorName</a>
                        </strong>
                        <span
                            class="text-sm leading-5 font-medium text-black-400 group-hover:text-black-300 transition ease-in-out duration-150 mr-2">
                            @cheepInfo.Cheep.TimeStamp
                        </span>
                    </div>

                    <!-- container for follow/unfollow button -->
                    <div class="flex">
                        <!-- we only want to add a button if the cheep is not by the user currently logged in-->
                        @if (User.Identity.IsAuthenticated && cheepInfo.Cheep.AuthorName != User.Identity.Name)
                        {

                            <form method="post" asp-page-handler="Follow">
                                <button id="followUnfollowButton"
                                    class="border-2 border-black hover:bg-black text-black hover:text-white bg-transparent pl-2 py-1 px-2 hover:border-transparent rounded"
                                    disabled="true">
                                    @if (!cheepInfo.UserIsFollowingAuthor)
                                    {
                                        <input type="submit" name="follow" value="Follow" />
                                    }
                                    else
                                    {
                                        <input type="submit" name="unfollow" value="Unfollow" />
                                    }
                                </button>
                                <input type="hidden" name="authorName" value="@cheepInfo.Cheep.AuthorId" />
                            </form>
                        }
                    </div>
                </div>

                <!-- cheep text -->
                <p class="text-gray-400 text-sm font-semibold ">
                    @{
                        // Use regex to find hashtags and replace them with blue text
                        string cheepMessageWithLinks = System.Text.RegularExpressions.Regex.Replace(cheepInfo.Cheep.Message,
                        @"#\w+", match => $"<a href=\"/tag/{match.Value.TrimStart('#')}\" class=\"text-blue-400\">{match.Value}</a>");
                    }
                    @Html.Raw(cheepMessageWithLinks)
                </p>
                <!-- Reaction button -->
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-page-handler="Reaction">
<button id="reactionButton" class="py-1.5 hover:scale-105 hover:shadow text-center rounded-md h-8 text-sm flex gap-1 lg:gap-2">
    @if (cheepInfo.UserReactToCheep)
    {
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(96 165 250)" class="w-6 h-6">
  <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z" />
</svg>

        <input type="submit" name="unreaction" value="" />
    }
    else
    {
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-current text-gray-500 hover:text-gray-700 transition duration-300 ease-in-out">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z">
            </path>
        </svg>
        <input type="submit" name="Like" value="" />
    }
</button>
<input type="hidden" name="authorId" value="@cheepInfo.Cheep.AuthorId" />
<input type="hidden" name="cheepId" value="@cheepInfo.Cheep.Id" />

                    </form>
                <p>@cheepInfo.TotalReactions</p>
                }
            </li>
        }
    </ul>
}
else
{
    <em>There are no cheeps so far.</em>
}
<div class="pagination">
    @if (viewModel.pageNr > 1)
    {
        <a href="?page=@(viewModel.pageNr - 1)">&laquo;</a>
    }
    @for (int i = 0; i < viewModel.pages; i++)
    {
        <a href="?page=@(i+1)">@(i + 1)</a>
    }
    <a href="?page=@(viewModel.pageNr + 1)">&raquo;</a>
</div>
