@* source https://stackoverflow.com/questions/20799658/how-can-i-pass-parameters-to-a-partial-view-in-mvc-4 *@
@{
    var viewModel = ViewData["ViewModel"] as ViewModel;
}


@if (viewModel.Cheeps != null && viewModel.Cheeps.Any() && viewModel.CheepInfos?.Count() == 0)
{

    <ul class="flex flex-col gap-5">
        @foreach (var cheep in viewModel.Cheeps)
        {
            <div
                class="border-2 border-black resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex flex-col gap-4">
                <li>

                    <p class="text-black text-sm font-semibold hover:underline">
                        <img class="inline-block h-10 w-10 rounded-full" src="@cheep.AuthorImage" alt="" />
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        <span
                            class="text-sm leading-5 font-medium text-black-400 group-hover:text-black-300 transition ease-in-out duration-150">
                            @cheep.TimeStamp
                        </span>
                    </p>
                    <p class="text-blue-400 text-sm font-medium text-clip overflow-hidden">
                        <small class="text-blue-400 text-sm font-medium text-clip overflow-hidden">@cheep.Message</small </p>
                </li>
            </div>
        }
    </ul>
}
else if (viewModel.CheepInfos != null && viewModel.CheepInfos.Any())
{
    <ul class="flex flex-col gap-5">
        @foreach (var cheepInfo in viewModel.CheepInfos)
        {
            <li
                class="border-2 border-black resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline flex flex-col gap-4">

                <div class="flex justify-between items-center">
                    <!-- container for profile picture, name, date -->
                    <div class="flex items-center">
                        <img style="margin-right: 8px;" class="inline-block h-10 w-10 rounded-full mr-2"
                            src="@cheepInfo.Cheep.AuthorImage" alt="" />
                        <strong style="margin-right: 8px;">
                            <a href="/@cheepInfo.Cheep.AuthorName">@cheepInfo.Cheep.AuthorName</a>
                        </strong>
                        <span
                            class="text-sm leading-5 font-medium text-black-400 group-hover:text-black-300 transition ease-in-out duration-150 mr-2">
                            @cheepInfo.Cheep.TimeStamp
                        </span>
                    </div>

                    <!-- container for follow/unfollow button -->
                    <div class="flex">
                        <!-- we only want to add a button if the cheep is not by the user currently logged in-->
                        @if (User.Identity.IsAuthenticated && cheepInfo.Cheep.AuthorName != User.Identity.Name)
                        {

                            <form method="post" asp-page-handler="Follow">
                                <button id="followUnfollowButton"
                                    class="border-2 border-black hover:bg-black text-black hover:text-white bg-transparent pl-2 py-1 px-2 hover:border-transparent rounded"
                                    disabled="true">
                                    @if (!cheepInfo.UserIsFollowingAuthor)
                                    {
                                        <input type="submit" name="follow" value="Follow" />
                                    }
                                    else
                                    {
                                        <input type="submit" name="unfollow" value="Unfollow" />
                                    }
                                </button>
                                <input type="hidden" name="authorName" value="@cheepInfo.Cheep.AuthorId" />
                            </form>
                        }
                    </div>
                </div>

                <!-- cheep text -->
                <p class="text-blue-400 text-sm font-medium text-clip overflow-hidden">
                    <small class="text-blue-400 text-sm font-medium text-clip overflow-hidden">@cheepInfo.Cheep.Message</small>
                </p>
                <!-- Reaction button -->
                @if (User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-page-handler="Reaction">
                        <button id="reactionButton"
                            class="border-2 border-black hover:bg-black text-black hover:text-white bg-transparent pl-2 py-1 px-2 hover:border-transparent rounded">
                            @* <p>@cheepInfo.Cheep.Id</p>
                <p>@cheepInfo.UserReactToCheep</p> *@
                            @if (cheepInfo.UserReactToCheep)
                            {
                                <input type="submit" name="unreaction" value="Unlike" />
                            }
                            else
                            {
                                <input type="submit" name="Like" value="Like" />
                            }
                        </button>
                        <input type="hidden" name="authorId" value="@cheepInfo.Cheep.AuthorId" />
                        <input type="hidden" name="cheepId" value="@cheepInfo.Cheep.Id" />
                    </form>
                }
            </li>
        }
    </ul>
}
else
{
    <em>There are no cheeps so far.</em>
}
<div class="pagination">
    @if (viewModel.pageNr > 1)
    {
        <a href="?page=@(viewModel.pageNr - 1)">&laquo;</a>
    }
    @for (int i = 0; i < viewModel.pages; i++)
    {
        <a href="?page=@(i+1)">@(i + 1)</a>
    }
    <a href="?page=@(viewModel.pageNr + 1)">&raquo;</a>
</div>
